<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nikotin's Favourite Games</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/item-container.css">
    <link rel="stylesheet" href="/css/nav-bar.css" type="text/css">
</head>
<body>
    <header>
        <nav>
            <a href="/html/main.html">Main</a>
            <a href="/html/categorys/categorys.html">Categorys</a>
        </nav>
        <h1>Filmebibliothek</h1>
    </header>
    <!-- Liste für Filme -->
    <section class="container">
        <% movies.forEach(function(movie) {
            <li>
                <h2><%= movie.title %></h2>
            </li>
        }) %>
    </section>
    <footer>
        <p></p>
    </footer>
</body>
</html>