* a
{
    text-decoration: none;
}
:root {
    --normal: #ffffff;
    --invertd: #000000;
    --passive: #bababa;
    --highlight: #77db72;
    --background: #121212;
    --backgroundSection: #2d2929;
}
body, html 
{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    color: var(--normal);
    margin: 0;
}
header
{
    text-align: center;
}