* a
{
    text-decoration: none;
}

:root 
{
    --normal: #ffffff;
    --inverted: #000000;
    --passive: #6d6868;
    --highlight: #77db72;
    --background: #121212;
    --backgroundSection: #2d2929;
}

body, html 
{
    font-family:'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--normal);
    margin: 0;
}

header
{
    text-align: center;
}